name: Package Release

on:
    release:
        types: [created]

jobs:
    publish-gpr:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 22
                  registry-url: https://npm.pkg.github.com/

            - name: Install dependencies
              run: npm ci

            - name: Build package
              run: npm run build

            - name: Publish to GitHub Packages
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
